//...Default button
.btn {
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 6px 10px;
  @include font-size(14);
  background-color: $white;
  color: $black;
  border-radius: $border-radius;
  @include rounded(4px);
  &:visited {
    color: $black;
  }
  &:hover {
    background-color: darken($white, 10);
    color: $black;
  }
}

//...Close button
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: transparent;
  border: 0 solid transparent;
  color: $white;
}
