//...Top navigation
.navigation-wrapper {
  text-align: center;
  @include clearfix;
  ul {
    display: inline-block;
    width: 80%;
    vertical-align: top;
    margin: 0 0 50px;
    padding: 4px 20px;
    border: 1px solid $black;
    background-color: $white;
    @include rounded(4px);
    @include media($medium) {
        border: 0px;
        width: auto;
        background-color: $white;
    //   @include rounded(8px 8px 8px 8px);
    }
    @include clearfix;
  }
  li {
    display: block;
    float: left;
    list-style: none;
    text-align: center;
    // @include font-size(18,no);
    @include media($medium) {
      @include font-size(14,no);
      background-color: $white;
    }
    a:hover {
        // color: $white;
    //   @include box-shadow($shadow: inset 0 0 1px $black);
    }
  }
  a {
    color: $black;
    display: block;
    margin-bottom: 10px;
    padding: 12px 20px;
    @include media($medium) {
      margin-bottom: 0;
      padding: 6px 10px;
    }
    @include rounded(4px);
    &:hover {
      background-color: darken($white, 10);
    }
  }
}

//...Responsive navigation toggle
#site-nav {
  display: none;
  z-index: 5;
  @include media($medium) {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
  }
  &.closed {
    @include media($medium) {
      display: block;
    }
  }
  &.opened {
    display: block;
    max-height: 100%;
    li {
      float: none;
      @include media($medium) {
        float: left;
      }
    }
  }
}

//...display when JavaScript is disabled
.no-js #site-nav {
  display: block;
}

#nav-toggle {
  z-index: 20;
  display: block;
  vertical-align: top;
  margin: 0;
  padding: 6px 20px;
  background-color: $white;
  // background-color: lighten($black, 20);
  height: 44px;
  @include rounded(4px);
  @include media($medium) {
    display: none;
  }
}
